header{
	width: 100%;
	background: #fff;
	position: relative;
	z-index: 99;
}
header.shadow{
	box-shadow: 3px 3px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.1);
	position: fixed !important;
	top: 0;
}
header .navbar-header{
	position: relative;
	z-index: 9;
}
header .navbar-brand{
	height: auto;
	float: none;
	text-align: center;
	padding: 0;
	margin: .5rem auto;
	display: flex;
	justify-content: center;
}
header .navbar-toggle{
	font-size: 1.25rem;
	background: transparent !important;
	border: none;
	padding: 0;
	margin: .675rem .85rem;
	position: absolute;
}
header .menu a{
	font-size: 1rem;
	text-align: center;
	color: #333;
	background: transparent;
}
header .menu>li>a{
	line-height: 1.5;
	text-transform: uppercase;
	padding: .35rem .75rem;
}
header .menu>li:hover>a{
	opacity: .8;
}
header .menu>li:hover>a,
header .menu>li.active>a{
	color: #fff !important;
	background: #7eb911 !important;
}
header .menu .dropdown-menu{
	width: 100%;
	min-width: 1px;
	font-size: 1rem;
	padding: 0;
	margin: 0;
}
header .menu .dropdown-menu>li>a{
	white-space: normal;
	border-top: 1px solid #E5E5E5;
}
header .menu .dropdown-menu>li:hover>a{
	color: #fff !important;
	background: #7eb911 !important;
}

.index-banner{
	position: relative;
}
.index-banner video{
	width: 100%;
	height: 100%;
}

.ftr-filing{
	color: #fff;
	background: #0c0c0c;
  text-align: center;
  padding: .5rem;
  margin-bottom: 0;
}


@media (min-width:576px) {
	/**/
}

@media (min-width:768px) {
	/**/
	.htr-index{
		display: none;
	}
	header.shadow.htr-index{
		display: block;
	}
	header .menu .dropdown-menu{
		width: 10rem;
		left: 50%;
		margin-left: -5rem;
	}
	header .menu .dropdown-menu .dropdown-menu{
		left: 100%;
		top: 0;
		margin-left: 0;
	}
	header .menu .dropdown-menu>li>a{
		padding: .5rem .25rem;
	}
	header .menu .dropdown-menu>li:first-child>a{
		border: none;
	}
}

@media (min-width:768px) and (max-width:991px){
	/**/
}

@media (min-width:992px) {
	/**/
}

@media (min-width:1200px) {
	/**/
}

@media (max-width:767px) {
	/**/
	.htr-link,
	header .navbar-right{
		display: none !important;
	}
	header .navbar-header{
		width: 100%;
	}
	header .navbar-brand{
		height: 40px;
		margin: 5px auto;
	}
	header .navbar-brand img{
		height: 100%;
	}
	header .menu a{
		text-align: left;
		display: block;
	}
	header .menu>li>a{
		padding: .75rem 3rem;
	}
	header .menu>li:hover>a{
		color: #fff;
		background: #7eb911;
		text-decoration: underline;
	}
	header .menu>li.active>a{
		color: #7eb911;
		background: #fff;
	}
	header .menu .dropdown-menu{
		background-color: #fefefe;
		border: none;
	}
	header .menu .dropdown-menu>li>a{
		color: #7eb911;
		border: none;
		padding: .5rem .5rem !important;
		margin-left: 4.5rem;
	}
}

@media (max-width:479px){
	/**/
}