@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
html, body{
	font-size: 14px;
	overflow-x: hidden;
}
body {
	color: #414048;
}
img{
	max-width: 100%;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #414048;
}
input, textarea, select, button{
	outline: none !important;
}
a, button, input{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
dl, ol, ul, dt, dd{
	margin-bottom: 0;
}
cite{
	font-style: normal;
}
.btn:hover,
.form-control:focus{
	box-shadow: none;
}
.content p{
	line-height: 1.5;
	margin-bottom: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
	margin-bottom: .715rem;
}
.h4{
	font-size: 1rem;
}
.h5{
	font-size: .858rem;
}
.title{
	font-size: 1.715rem;
	font-weight: bold;
	text-align: center;
}
.text{
	font-size: .858rem;
	text-align: center;
}
.original span{
	text-decoration: line-through;
}
.hidden{
	display: none;
}
.list-inline{
	margin-left: -.35rem;
}
.list-inline li{
	padding: 0 .35rem;
	display: inline-block;
}
.pagination{
	justify-content: center;
	margin: 1rem 0;
}
.page-link{
	border-radius: 0;
	padding: .5rem 1rem;
}
.page-link:focus{
	box-shadow: none;
}
.page-item.active .page-link{
	color: #fff !important;
	background: #009688;
	border-color: #009688;
}
.page-item:nth-child(2) .page-link{
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem;
}
.page-item:nth-last-child(2) .page-link{
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem;
}
.page-item:first-child .page-link{
	border: none;
}
.page-item:last-child{
	padding-left: 1rem;
}
.page-item:last-child .page-link{
	border-radius: 0;
}
.pagination input{
	max-width: 2.5rem;
	text-align: center;
	padding: .35rem .25rem;
	vertical-align: middle;
	display: inline-block;
}
.pagination .page-go{
	min-width: 10rem;
}
.pagination .page-go .btn-go{
	color: #fff !important;
	background: #dc3545;
	border: none;
	border-radius: .2rem;
	padding: .4rem .6rem;
	vertical-align: middle;
	display: inline-block;
}
.nav-body{
	padding: 1rem;
	margin-top: 50px;
	margin-left: 220px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.nav-text{
	max-width: 750px;
	margin: auto;
}
.nav-crumbs{
	margin-bottom: 1rem;
}
.breadcrumb li+li{
	padding-left: .36rem;
}
.breadcrumb li+li:before{
	content: "/\00a0";
	text-align: center;
    padding: 0 .36rem;
}
.nav-itemd{
	position: relative;
}
.nav-itemd.active>.nav-child{
	display: block;
}
.nav-child{
	min-width: 120px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	position: absolute;
	display: none;
}
.nav-item a{
	display: block;
}
.nav-item a i{
	font-size: 1.25rem;
}
.nav-item a cite{
	font-style: normal;
}
.nav-item a span{
	content: '';
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -3px;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.nav-item.active>a span{
	margin-top: -9px;
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.nav-box{
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	background: rgba(0,0,0,.75);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1200;
	display: none;
}
.nav-box .box-back{
	width: 100%;
	max-width: 320px;
	background: #fff;
	border-radius: .3rem;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.15);
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.15);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 5;
}
.nav-box p{
	margin-bottom: 0;
}
.nav-box .box-header{
	padding: .75rem 1.075rem;
	border-bottom: 1px solid #009688;
	position: relative;
}
.nav-box .box-header .box-head{
	font-weight: bold;
}
.nav-box .box-header .box-close{
	height: 100%;
	font-size: 1.6rem;
	padding: 0 1rem;
	position: absolute;
	top: .2rem;
	right: 0;
}
.nav-box .box-text{
	min-height: 62px;
	padding: 1.5rem 3rem .75rem;
	margin-bottom: 1rem;
}
.nav-box .box-footer{	
	text-align: right;
	padding: 0 1.075rem;
	margin-bottom: 1rem;
}
.nav-box .box-footer .btn{
	color: #fff !important;
	background: #009688;
	border: none;
	padding: .3rem 1rem;
}
.nav-box .box-footer .btn+.btn{
	margin-left: 1rem;
}
.nav-box .box-footer .box-close{
	background: #dc3545;
}
.nav-tips{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1800;
	display: none;
}
.nav-tips .back{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.nav-tips .info{
	color: #fff;
	background: rgba(0,0,0,.7);
	text-align: center;
	padding: 1rem;
}
.nav-htr{
	margin-bottom: 1rem;
}
.nav-htr .btn{
	font-size: .858rem;
	background: #e9ecef;
}
.nav-htr .btn.active{
	color: #fff;
	background: #009688;
}
.nav-group{
	margin-bottom: 1rem;
}
.nav-group .btn{
	color: #fff !important;
	background: #009688;
}
.nav-group .btn-del{
	background: #dc3545;
}
.nav-date form{
	vertical-align: middle;
	display: inline-block;
}
.nav-date label{
	margin-bottom: 0;
	vertical-align: middle;
}
.nav-date .btn{
	color: #fff !important;
	background: #009688;
}
.nav-date .export-btn{
	background: #343a40;
}
.nav-fiexd{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	display: none;
}
.nav-fiexd .back{
	width: 100%;
	max-width: 550px;
	background: #fff;
	border-radius: .2rem;
	padding: 1rem 3rem 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.nav-fiexd .htr{
	min-height: 2.5rem;
	position: relative;
}
.nav-fiexd .htr .h4{
	font-size: 1.5rem;
	padding: .7rem 1rem;
	margin-bottom: 0;
}
.nav-fiexd .htr .fiexd-off{
	font-size: 2rem;
	padding: 0 .75rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
}
.nav-fiexd .form{
	padding: 1rem;
}
.nav-fiexd .form .form-group{
	position: relative;
}
.nav-fiexd .form  .selector:after{
	content: "\f0d7";
	font: normal 1.5rem/1 FontAwesome;
	position: absolute;
	top: .5rem;
	right: .7rem;
}
.nav-fiexd .form .selector input{
	padding-right: 2rem;
}
.nav-fiexd .form .selector.on .select{
	display: block;
}
.nav-fiexd .form .selector .select{
	width: 100%;
	max-height: 18rem;
	background: #fff;
	border: 1px solid #80bdff;
	padding: 1rem 0;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 9;
	display: none;
}
.nav-fiexd .form .selector .select li{
	min-height: 5.6rem;
	padding: .2rem 1rem .2rem 6rem;
	position: relative;
	cursor: pointer;
}
.nav-fiexd .form .selector .select li:hover{
	background: #dee2e6;
}
.nav-fiexd .form .selector .select li.active{
	color: #fff;
	background: #009688;
	position: relative;
}
.nav-fiexd .form .selector .select li.active:after{
	content: "\f00c";
	font: normal 1rem/1 FontAwesome;
	position: absolute;
	top: 2.2rem;
	left: .5rem;
}
.nav-fiexd .form .selector .select li img{
	max-width: 5rem;
	position: absolute;
	left: 1rem;
	top: 0;
}
.nav-fiexd .form label{
	cursor: pointer;
	margin-right: 1rem;
	margin-bottom: 0;
}
.nav-fiexd .form p{
	margin-bottom: 0;
}
.nav-fiexd .form .submit{
	text-align: right;
}
.nav-fiexd .form .submit .btn{
	color: #fff;
	background: #009688;
	padding: .25rem 1rem;
	margin-left: .5rem;
}
.nav-fiexd .form .submit .btn-res{
	background: #dc3545;
}
.nav-add{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	display: none;
}
.nav-add .add-main{
	width: 100%;
	max-width: 600px;
	background: #fff;
	border-radius: 4px;
	padding: 1rem 3rem;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.nav-add .add-htr{
	margin-bottom: 2rem;
}
.nav-add .add-htr .add-head{
	font-size: 1.7rem;
	margin-top: 1rem;
}
.nav-add .add-htr .add-close{
	font-size: 2rem;
	position: absolute;
	right: .5rem;
	top: 0;
}
.nav-add .add-form .form-group{
	margin-bottom: 2rem;
}
.nav-add .add-btn{
	text-align: right;
}
.nav-add .add-btn .btn{
	color: #fff;
	background: #009688;
	padding: .35rem 1.5rem;
}
.nav-add .add-btn .btn-res{
	background: #dc3545;
}
.nav-add .add-btn .btn+.btn{
	margin-left: 1rem;
}
.nav-model .table{
	text-align: center;
	border-bottom: 1px solid #ddd; 
}
.nav-model .table thead{
	background: #e9ecef;
}
.nav-model .table td{
	vertical-align: middle;
}
.nav-model .table img{
	max-width: 10rem;
}
.nav-model .table .check{
	min-width: 1rem;
	height: 1rem;
	text-align: left;
	cursor: pointer;
	display: inline-block;
}
.nav-model .table .check i{
	display: block;
}
.nav-model .table .oprate .btn{
	font-size: .858rem;
	color: #fff;
	background: #009688;
	padding: .2rem;
}
.nav-model .table .oprate .btn-cannel,
.nav-model .table .oprate .btn-del{
	background: #dc3545;
}
.nav-model .table tr.active td:nth-child(n+3) input,
.nav-model .table .check.active .yes{
	display: block;
}
.nav-model .table tr.active .oprate li:nth-child(-n+2){
	display: inline-block;
}
.nav-model .table input,
.nav-model .table .check .yes,
.nav-model .table .check.active .no,
.nav-model .table tr.active td:nth-child(n+3) span,
.nav-model .table tr.active .oprate li:nth-child(n+3),
.nav-model .table .oprate li:nth-child(-n+2){
	display: none;
}

header{
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
	padding-left: 220px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 800;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
header ul.list-inline{
	padding: 0 15px;
}
header ul.list-inline li{
	height: 50px;
	line-height: 50px;
	padding: 0 1rem;
}
header .nav-itemd{
	padding-right: 2rem !important;
}
header .nav-itemd a span{
	border-color: #000 transparent transparent;
	right: 1rem;
}
header .nav-child{
	width: 120px;
	background: #fff;
	margin-left: -60px;
	left: 50%;
}
header .nav-child dd{
	margin-bottom: 0;
}
header .nav-child a{
	padding: 0 2rem;
}
header .nav-child a:hover{
	color: #fff;
	background: #009688;
}

.menu-side{
	width: 220px;
	height: 100%;
	color: #fff;
	background: #20222A;
	overflow-x: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 900;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.menu-side .menu-scroll{
	width: 240px;
	overflow-x: hidden;
	position: relative;
}
.menu-side .logo{
	width: 220px;
	font-size: 1.45rem;
	text-align: center;
	background: #20222a;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.menu-side .menu{
	width: 210px;
	background: #20222A;
	margin: 50px 5px 0;
	position: relative;
}
.menu-side .menu .nav-child{
	position: relative;
}
.menu-side .menu a{
	color: rgba(255,255,255,.7);
	padding: .5rem 2.2rem .5rem 3.2rem;
	position: relative;
	display: block;
}
.menu-side .menu a i{
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -8px;
}
.menu-side .menu .nav-item a span{
	right: 15px;
}
.menu-side .menu>li.active>a,
.menu-side .menu a:hover{
	color: #fff;
}
.menu-side .menu>li dd.active>a{
	color: #fff;
	background: #009688;
}
.menu-side .menu .nav-bar{
	width: calc(100% + 10px);
	height: 35px;
	background: #009688;
	position: absolute;
	left: -5px;
	top: 0;
	z-index: -1;
}

.login .canvas{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: -1;
}
.login .main{
	width: 100%;	
	max-width: 350px;
	background: #fff;
	background: -webkit-gradient(linear, left bottom,right top ,color-stop(0%, rgba(255,255,255,.9)), color-stop(100%, rgba(255,255,255,.95)));
	background: -webkit-linear-gradient(230deg, rgba(255,255,255,.9) 0%,rgba(255,255,255,.95) 100%);
	background: linear-gradient(230deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.95) 100%);
	box-shadow: 1px 1px 5px 1px rgba(255,255,255,.8);
	padding: 2.5rem;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.login .main form .form-group{
	margin-bottom: 1.7rem;
}
.login .main form .form-group:last-of-type{
	margin-bottom: 0;
}
.login .main form input{
	border-radius: 0;
}
.login .main form .code{
	padding-right: 8rem;
	position: relative;
}
.login .main form .code img{
	width: 7rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.login .main .btn{
	color: #fff;
	background: #009688;
}


.index .sec01{
	margin: 0;
}
.index .sec01 .nav-card{
	max-width: 15rem;
	float: left;
	padding: 1rem 2rem;
	margin-right: .5rem;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1);
}
.index .sec01 .nav-card span{
	font-size: 4rem;
	margin-right: 1rem;
}
.index .sec02{
	margin-top: 2rem;
}
.index .sec02 .table thead{
	background: #e9ecef;
}
.index .sec02 .table td{
	min-width: 4rem;
	text-align: center;
	vertical-align: middle;
}
.index .sec02 .table .date{
	min-width: 10rem;
}
.index .sec02 .table .long{
	min-width: 20rem;
}
.index .sec02 .table .mid{
	min-width: 6rem;
}

.product .table{
	text-align: center;
	border-bottom: 1px solid #ddd; 
}
.product .table td{
	min-width: 5rem;
}
.product .table img{
	width: 80px;
	border: 1px solid #dee2e6;
}
.product .table thead{
	background: #e9ecef;
}
.product .table td{
	vertical-align: middle;
}
.product .table span{
	vertical-align: middle;
	display: inline-block;
}
.product .table .info{
	min-width: 26rem;
}
.product .table .txt{
	width: 250px;
	text-align: left;
	margin-left: 20px;
}
.product .table .txt cite{
	font-style: normal;
}
.product .table .txt label{
	font-size: 1rem;
	font-weight: bold;
	color: #dc3545;
	margin-top: .2rem;
	margin-bottom: 0;
}
.product .table .date{
	min-width: 8rem;
}
.product .table .oprate{
	width: 6rem;
	text-align: center;
}
.product .table .oprate li,
.product .table .oprate.active .down{
	display: inline-block !important;
}
.product .table .oprate .down,
.product .table .oprate.active .up{
	display: none !important;
}
.product .table .oprate .btn{
	font-size: .858rem;
	color: #fff;
	background: #009688;
	margin: .3rem 0;
}
.product .table .oprate .btn-com{
	background: #007bff;
}
.product .table .oprate .btn-up{
	background: #343a40;
}
.product .table .oprate .btn-down{
	background: #777;
}
.product .table .oprate .btn-del{
	background: #dc3545;
}

.product-edit .title{
	text-align: left;
	padding-left: 1rem;
	margin-bottom: 1rem;
}
.product-edit .form .form-group,
.product-edit .form .form-text{
	margin-bottom: 2rem;
}
.product-edit .form .h4{
	font-size: 1.145rem;
	background: #f5f5f5;
	padding: .75rem 1rem;
	margin-bottom: 2rem;
}
.product-edit .form label{
	min-width: 100px;
	padding-left: 1rem;
}
.product-edit .form span{
	color: #dc3545;
}
.product-edit .form .toggle label{
	cursor: pointer;
}
.product-edit .form cite{
	font-style: normal;
	margin-left: .5rem;
	vertical-align: middle;
	display: inline-block;
}
.product-edit .form .btn{
	color: #fff;
	background: #009688;
	margin: 0 1rem;
}
.product-edit .form .btn-res{
	background: #dc3545;
}

.product-com .title{
	text-align: left;
	padding-left: 1rem;
	margin-bottom: 1rem;
}
.product-com .btn-add{
	color: #fff !important;
	background: #009688;
	margin-bottom: .7rem;
}
.product-com .table{
	text-align: center;
}
.product-com .table .id{
	display: none !important;
}
.product-com .table td{
	min-width: 5rem;
}
.product-com .table img{
	width: 80px;
	border: 1px solid #dee2e6;
}
.product-com .table thead{
	background: #e9ecef;
}
.product-com .table td{
	border: 1px solid #ddd;
	vertical-align: middle;
}
.product-com .table td:nth-child(n+3){
	min-width: 10rem;
}
.product-com .table span{
	vertical-align: middle;
	display: inline-block;
}
.product-com .table .date{
	max-width: 8rem;
}
.product-com .table .oprate .btn{
	font-size: .858rem;
	color: #fff;
	background: #009688;
	margin: .3rem 0;
}
.product-com .table .oprate .btn-del{
	background: #dc3545;
}
.product-com .form{
	max-width: 40rem;
	padding-left: 1rem;
	margin-top: 2rem;
	display: none;
}
.product-com .form .h5{
	color: #999;
	font-weight: bold;
	display: none;
}
.product-com .form-add .t-add,
.product-com .form-edit .t-edit{
	display: block;
}
.product-com .form .form-group{
	margin-bottom: 1.2rem;
	position: relative;
}
.product-com .form-group label{
	padding-top: .45rem;
	position: absolute;
	left: 0;
	margin-bottom: 0;
}
.product-com .form-group .form-control{
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	padding-left: 6rem;
}
.product-com .form-group ul.form-control li{
	width: 1.5rem;
	height: 1.5rem;
	background: url(../images/star-on.png) no-repeat center;
	background-size: cover;
	margin-right: .5rem;
	cursor: pointer;
}
.product-com .form-group ul.form-control li.active ~ li{
	background-image: url(../images/star-off.png);
}
.product-com .form-group .btn{
	color: #fff;
	background: #009688;
	margin-right: 1rem;
}
.product-com .form-group .btn-cannel{
	background: #dc3545;
}
.product-record .table td:nth-child(n+3){
	min-width: 8rem;
}
.product-record .table img{
	width: 80px;	
	border: 1px solid #dee2e6;
}
.product-record .table .subtitle,
.product-record .table .content{
	min-width: 15rem;
	display: block;
}
.product-record .table .oprate li{
	display: inline-block !important;
}

.order .excel-btn{
	padding: .25rem .75rem;
}
.order .msg-btn{
	background: #20222A;
	padding: .25rem .75rem;
}
.order .table-responsive{
	padding: 0 .1rem;
}
.order .table{
	font-size: .858rem;
}
.order .table tbody{
	border-top: 1px solid #dee2e6;
}
.order .table td{
	min-width: 4rem;
	vertical-align: middle;
}
.order .table span{
	vertical-align: middle;
	display: inline-block;
}
.order .table thead th{
	background: #e9ecef;
	border: none;
}
.order .table thead th:last-child{
	border-right: 1px solid #e9ecef;
}
.order .table tr th:nth-child(n+2),
.order .table tr td:nth-child(n+2){
	text-align: center;
}
.order .table .tr-row{
	height: 1rem;
}
.order .table .tr-th{
	background: #fafafa;
	margin-top: 1rem;
}
.order .table .tr-th td{
	padding: .25rem .75rem;
}
.order .table .tr-th span+span{
	margin-left: 2rem;
}
.order .table .tr-th cite{
	font-style: normal;
}
.order .table .tr-th .t-id{
	display: none !important;
}
.order .table .tr-th .t-id cite{
	cursor: pointer;
}
.order .table .tr-th .message .btn{
	font-size: .858rem;
	color: #fff;
	background: #dc3545;
	padding: .15rem .5rem;
}
.order .table .tr-th td:first-child,
.order .table .tr-td td:first-child{
	border-left: 1px solid #dee2e6;
}
.order .table .tr-th td:last-child,
.order .table .tr-td td:last-child{
	border-right: 1px solid #dee2e6;
}
.order .table .tr-td .info{
	min-width: 27rem;
}
.order .table .tr-td img{
	width: 80px;
	border: 1px solid #dee2e6;
}
.order .table .tr-td .txt{
	width: 200px;
	margin: 0 20px;
}
.order .table .tr-td .txt cite{
	font-style: normal;
}
.order .table .tr-td .txt label{
	color: #777;
	margin-top: .2rem;
	margin-bottom: 0;
}
.order .table .tr-td .num{
	font-size: 1rem;
}
.order .table .tr-td .address{
	max-width: 180px;
	min-width: 10rem;
}
.order .table .tr-td .price span:last-child{
	color: #aaa;
}
.order .table .tr-td .content{
	min-width: 24px;
	font-size: .858rem;
	padding: 0;
	display: block;
}
.order .table .tr-td .ip{
	width: 8rem;
	text-align: center;
	margin: auto;
}
.order .table .tr-td .oprate{
	min-width: 110px;
}
.order .table .tr-td .oprate ul,
.order .table .tr-td .oprate p{
	display: none;
}
.order .table .tr-td .oprate a{
	font-size: .858rem;
	color: #fff;
	padding: .3rem .6rem;
}
.order .table .tr-td .oprate ul li+li{
	border-left: 1px solid #aaa;
	padding-left: .5rem;
}
.order .table .tr-td .oprate ul li a{
	background: #009688;
}
.order .table .tr-td .oprate .discard-btn{
	background: #dc3545;
}
.order .table .tr-td .oprate .send .fail-btn{
	background: #dc3545;
}
.order .table .tr-td .oprate .finish{
	font-weight: bold;
	color: #009688;
}
.order .table .tr-td .oprate .fail{
	font-weight: bold;
	color: #aaa;
}
.order .table .tr-th .state strong{
	display: none;
}
.order .table .tb-i0 .tr-th .state strong{
	color: #dc3545;
}
.order .table .tb-i1 .tr-th .state strong{
	color: #dc3545;
}
.order .table .tb-i2 .tr-th .state strong{
	color: #009688;
}
.order .table .tb-i3 .tr-th .state strong{
	color: #009688;
}
.order .table .tb-i4 .tr-th .state strong{
	color: #aaa;
}
.order .table .tb-i0 .tr-th .state .s0,
.order .table .tb-i1 .tr-th .state .s1,
.order .table .tb-i2 .tr-th .state .s2,
.order .table .tb-i3 .tr-th .state .s3,
.order .table .tb-i4 .tr-th .state .s4,
.order .table .tb-i5 .tr-th .state .s4{
	display: inline-block;
}
.order .table .tb-i0 .tr-td .oprate .call,
.order .table .tb-i1 .tr-td .oprate .send,
.order .table .tb-i2 .tr-td .oprate .end,
.order .table .tb-i3 .tr-td .oprate .finish,
.order .table .tb-i4 .tr-td .oprate .fail,
.order .table .tb-i5 .tr-td .oprate .ending{
	display: block;
}
.order .nav-box .box-back{
	max-width: 650px;
	height: 80%;
}
.order .nav-box .htr{
	width: 100%;
	min-height: 3rem;
	background: #e9ecef;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 15;
}
.order .nav-box .htr .h4{
	font-weight: bold;
	padding: .75rem .5rem;
}
.order .nav-box .htr .btn{
	position: absolute;
	right: 0;
	top: 0;
}
.order .nav-box .main{
	height: 100%;
	padding-top: 3rem;
	overflow: auto;
}
.order .nav-box .table thead td{
	font-weight: bold;
}
.order .nav-box .table td{
	min-width: 9rem;
	text-align: left !important;
	border: none;
	position: relative;
}
.order .nav-box .table tbody tr:first-child td{
	color: #009688;
}
.order .nav-box .table tbody tr:first-child .dot{
	background: #009688;
}
.order .nav-box .table .dot{
	width: .6rem;
	height: .6rem;
	background: #ccc;
	border-radius: 50%;
	display: block;
}
.order .nav-msg{
	/*display: block;*/
}
.order .nav-msg .box-back{
	height: auto;
	max-height: 80%;
}
.order .nav-msg .htr{
	color: #fff;
	background: #009688;
}
.order .nav-msg .htr .h4{
	font-weight: normal;
}
.order .nav-msg .box-text{
	padding: 1rem;
	margin-top: 3rem;
}
.order .nav-msg .submit{
	text-align: center;
}
.order .nav-msg .submit .btn{
	color: #fff;
	background: #009688;
	padding: .3rem 1.5rem;
}
.order .nav-msg .tips{
	margin-bottom: 1rem;
}
.order .nav-msg .tips .h4{
	font-size: 1.2rem;
	color: #dc3545;
}
.order .nav-msg .tips .info{
	font-size: 1rem;
	color: #999;
}
.order .nav-msg .tips .info span{
	margin-right: 2rem;
}

@media (min-width: 768px){
	.product-edit .form .form-control{
    	width: auto;
    	vertical-align: middle;
    	display: inline-block;
	}
	.product-edit .form input[type='text']{
		min-width: 250px;
	}
	.product-edit .form input.long{
		min-width: 500px;
	}
}

@media (max-width: 767px){
	.nav-fiexd .back{
		padding: 1rem 1rem 0;
	}
	
	header{
		padding-left: 0;
	}
	header.on{
		margin-left: 220px;
	}
	header ul.list-inline li{
		padding: 0 .8rem;
	}

	.menu-side,
	.menu-side .logo{
		left: -220px;
	}
	.menu-side.on,
	.menu-side.on .logo{
		left: 0;
	}
	.nav-body{
		width: 100%;
		margin-left: 0;
	}
	.nav-body.on{
		margin-left: 220px;
	}

	.index .sec01 .nav-card{
		width: 48%;
		padding: 1rem;
		margin: 0 1% .5rem;
	}
	.index .sec01 .nav-card span{
		font-size: 2rem;
		margin-right: 0;
	}
}