@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
html, body{
	font-size: 14px;
	overflow-x: hidden;
}
body {
	width: 100%;
	max-width: 640px;
	color: #414048;
	margin: auto;
}
img{
	max-width: 100%;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #414048;
}
input, textarea, select, button{
	outline: none !important;
}
a, button, input{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
ul{
	margin-bottom: 0;
}
cite{
	font-style: normal;
}
.btn:hover,
.form-control:focus{
	box-shadow: none;
}
.content p{
	line-height: 1.5;
	margin-bottom: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
	margin-bottom: .715rem;
}
.h4{
	font-size: 1rem;
}
.h5{
	font-size: .858rem;
}
.title{
	font-size: 1.715rem;
	font-weight: bold;
	text-align: center;
}
.text{
	font-size: .858rem;
	text-align: center;
}
.original span{
	text-decoration: line-through;
}
.hidden{
	display: none;
}
.list-inline{
	margin-left: -.35rem;
}
.list-inline li{
	padding: 0 .35rem;
	display: inline-block;
}
.c-back{
	width: 1.715rem;
	height: 1.715rem;
	background: rgba(0,0,0,.3) url(../images/icon-8.png) no-repeat center;
	background-size: 11px 11px;
	border: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: fixed;
	left: 15px;
	top: 15px;
	z-index: 1800;
}
.nav-tips{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	display: none;
}
.nav-tips .back{
	max-width: 30rem;
	min-width: 16rem;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.nav-tips .animated{
	animation-duration: .5s;
}
.nav-tips .info{
	font-size: 1.14rem;
	text-align: center;
	background: #fff;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1);
	padding: 1rem;
}
.nav-tips .info i{
	font-size: 3rem;
	color: #ff2359;
	margin-right: .5rem;
	vertical-align: middle;
}
.nav-tips .info span{
	vertical-align: middle;
	display: inline-block;
}
.to-top{
	font-size: 1rem;
	color: #fff !important;
	background: rgba(0,0,0,.4);
	border-radius: .2rem;
	padding: .35rem .5rem;
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 500;
}

header{
	width: 100%;
	max-width: 640px;
	font-size: 1rem;
	background: #f8f8f8;
	padding: .7rem 0 .4rem;
	position: fixed;
	left: 50%;
	top: 0;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 1200;
}
header .nav-text{
	text-align: center;
}
header .nav-text .title{
	font-size: 1.14rem;
	color: #7B4FE6;
	background: url(../images/icon-14.png) no-repeat left center;
	background-size: 1.93rem 1.5rem;
	padding: .25rem 0 .25rem 2.5rem;
	margin-bottom: .25rem;
	display: inline-block;
}
header .swiper-slide{
	line-height: 1;
}
header .swiper-slide .btn{
	font-size: .858rem;
	color: #7B4FE6;
	letter-spacing: 0.7px;
	padding: 0 0 .5rem;
	position: relative;
}
header .swiper-slide .btn:after{
	content: '';
	width: 1.5rem;
	height: .12rem;
	background: #6e6e6e;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -.75rem;
	display: none;
}
header .swiper-slide.active .btn{
	color: #7B4FE6;
}
header .swiper-slide.active .btn:after{
	background: #7B4FE6;
	display: block;
}

.content{
	font-size: 1rem;
	position: relative;
}
.content .title{
	margin-bottom: 1rem;
}
.content .sec01 .back{
	color: #fff;
	background: #414048;
	padding: .1rem 15px .37rem;
	position: relative;
}
.content .sec01 .price{
	font-size: 1.715rem;
	font-weight: bold;
}
.content .sec01 .count{
	padding-top: .85rem;
	margin-left: 1rem;
}
.content .sec01 .time{
	height: 100%;
	background: url(../images/icon-3.png) no-repeat left center;
	background-size: cover;
	text-align: center;
	padding: .5rem 1.2rem 0 2.2rem;
	position: absolute;
	top: 0;
	right: 0;
}
.content .sec01 .time .h5{
	color: #7B4FE6;
}
.content .sec01 .time .list{
	min-width: 7.5rem;
	color: #6E3F13;
	margin-top: .5rem;
}
.content .sec01 .list span{
	width: 1.29rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background: #6E3F13;
	color: #fff;
	border-radius: .15rem;
	vertical-align: middle;
	display: inline-block;
}
.content .sec01 .list label{
	text-align: center;
	padding: .2rem .35rem;
	margin-bottom: 0;
	vertical-align: middle;
	display: inline-block;
}
.content .sec01 .time .img{
	display: none;
}

.index{
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.index .nav-text .title{
	font-size: 1.1rem;
	color: #fff;
	background: #ff2359;
	padding: .7rem 0;
	margin: 0 -15px;
}
.index .sec01{
	margin: 0 -15px 1rem;
	position: relative;
}
.index .sec01 .icon,
.index .sec01 .back{
	display: none !important;
}
.index .sec01 .icon{
	max-width: 8rem;
	position: absolute;
	left: 1rem;
	top: 0;
	z-index: 5;
}
.index .sec01 .price{
	color: #fbcf5e;
}
.index .sec01 .time{
	width: 100%;
	max-width: 10rem;
	height: auto;
	background: #fdde88;
	background: -webkit-gradient(linear, bottom, top, color-stop(0%, #fcce5c), color-stop(100%, #fff2bf));
	background: -webkit-linear-gradient(0deg, #fcce5c 0%,#fff2bf 100%);
	background: linear-gradient(0deg, #fcce5c 0%, #fff2bf 100%);
	border-top-right-radius: .15rem;
	padding: .4rem 0 .3rem;
	left: 0;
	top: auto;
	bottom: 100%;
}
.index .sec01 .time .list{
	min-width: .1rem;
	margin-top: 0;
}
.index .sec01 .time.active{
	max-width: 8rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.index .sec01 .time.active .list{
	display: none;
}
.index .sec01 .time.active .img{
	padding: 0 1rem;
}
.index .sec01 .count{
	margin-left: .5rem;
}
.index .sec01 .scroll{
	width: 100%;
	min-height: 1.2725rem;
	min-width: 11.5rem;
	position: relative;
	overflow: hidden;
}
.index .sec01 .scroll li{
	width: 100%;
	top: 0;
	position: absolute;
	left: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.index .sec01 .scroll li.prev{
	top: -100%;
}
.index .sec01 .scroll li.next{
	top: 100%;
}
.index .sec01 .s-btn{
	max-width: 8rem;
	position: absolute;
	bottom: .8rem;
	right: .5rem;
}
.index .sec01 .s-btn .btn{
	width: 8rem;
	height: 4.8rem;
	background: url(../images/icon-6.png) no-repeat center;
	background-size: cover;
}
.index .sec01 .s-btn .btn.active{
	background-image: url(../images/icon-7.png);
}
.index .sec02{
	display: none;
}
.index .sec02 .title{
	margin: 1.7rem auto 0;
}
.index .sec02 .text{
	margin-bottom: 1rem;
}
.index .sec02 ul li{
	margin-bottom: 2rem;
	position: relative;
}
.index .sec{
	margin-bottom: 1rem;
}
.index .sec .main{
	border: 1px solid #bbb;
	padding: .5rem 0 1rem;
	position: relative;
	overflow: hidden;
	display: block;
}
.index .sec .main:after{
	content: "";
	width: 2.57rem;
	height: 3.14rem;
	background: url(../images/icon-5.png) no-repeat center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 5.4%;
	display: none;
}
.index .sec .over .main:after{
	width: 3.5rem;
	height: 2.8rem;
	background-image: url(../images/icon-13.png);
}
.index .sec .img{
	/*max-width: 80%;*/
	margin: 0 -5rem;
}
.index .sec .img img{
	width: 100%;
}
.index .sec .t-img{
	margin: 0 -15px 1rem;
}
.index .sec .row{
	margin: 0 -.7rem;
}
.index .sec .row>div{
	padding: 0 .3rem;
	margin-bottom: .5rem;
}
.index .sec .img{
	/*margin-bottom: 1rem;*/
	display: block;
}
.index .sec .h4{
	height: 2.5rem;
	font-size: .858rem;
	text-align: left;
	padding: 0 .9rem;
	/*margin-top: 1rem;*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.index .sec .price,
.index .sec .original{
	font-size: .715rem;
}
.index .sec .price{
	font-weight: bold;
	color: #FF2359;
	margin-top: .5rem;
}
.index .sec .price img{
	width: 1.65rem;
	vertical-align: middle;
	margin-right: .1rem;
}
.index .sec .price cite{
	font-style: normal;
	vertical-align: middle;
}
.index .sec .price span{
	font-size: 1.2rem;
	vertical-align: middle;
}
.index .sec .original{
	display: none;
}
.index .sec .btn{
	font-size: .857rem;
	color: #fff;
	background: #7B4FE6;
	border-radius: 0;
	padding: .15rem .65rem;
	margin-left: .1rem;
	vertical-align: middle;
}
.index .sec .over .btn{
	background: #666;
}
.index .loading{
	background: #f8f8f8;
	text-align: center;
	padding: 1.8rem 0 2rem;
	margin: -1rem -15px 0;
}
.index .loading .h5{
	font-size: .715rem;
	color: #9b9b9b;
}
.index .box{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	display: none;
}
.index .box .main{
	width: 100%;
	max-width: 640px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.index .box .btn{
	margin-top: 4rem;
}
.index .sec-bt{
	margin: 0 -15px;
}
.index .bottom{
	width: 100%;
	max-width: 640px;
	position: fixed;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 700;
}
.index .bottom .btn{
	width: 100%;
	color: #fff !important;
	background: #7B4FE6;
	border-radius: 0;
	text-align: center;
	padding: .75rem .75rem;
}
.index .bottom .swiper-slide:nth-of-type(even) .btn{
	background: #43376c;
}

.product{
	padding-top: 3rem;
	/*padding-bottom: 3.6rem;*/
}
.product .sec01{
	margin: 0 -15px;
	position: relative;
}
.product .sec01 .icon{
	max-width: 8rem;
	position: absolute;
	left: 1rem;
	top: 0;
	z-index: 5;
	display: none;
}
.product .sec01 .hot{
	position: relative;
}
.product .sec01 .hot:after{
	content: '';
	width: 5rem;
	height: 6.3rem;
	background: url(../images/icon-9.png) no-repeat center;
	background-size: cover; 
	position: absolute;
	left: 1rem;
	top: 1rem;
	z-index: 5;
	display: block;
}
.product .sec01 .back{
	background: #7B4FE6;
}
.product .sec01 .h4{
	padding: .725rem 15px;
}
.product .sec01 .time.active{
	padding-top: 1.22rem;
}
.product .sec01 .time.active .h5{
	display: none;
}
.product .sec01 .time.active .img{
	width: 7.5rem;
}
.product .sec02 .h4,
.product .sec03 .h4{
	font-size: 1.143rem;
	padding: .8rem 0;
}
.product .sec02 .h4{
	padding-top: 1.6rem;
}
.product .sec02 img,
.product .sec03 img{
	/*margin-bottom: .8rem;*/
}
.product .sec03 ul{
	margin: 0 -15px;
}
.product .sec{
	background: #f2f2f2;
	padding: 1rem 0;
	margin: 0 -15px;
}
.product .normal{
	margin: 0 -15px;
}
.product .normal img{
	width: 100%;
}
.product .history{
    background: #f2f2f2;
	padding-top: 1rem;
}
.product .pro-bt{
	background: #fff;
	padding-bottom: 4.25rem;
}
.product .dec{
	margin: 0 -15px 2rem;
}
.product .contact{
	background: #fff;
	padding-bottom: 6.25rem;
}
.product .bottom{
	width: 100%;
	max-width: 640px;
	background: #fff;
	box-shadow: 0 -2px 5px rgba(0,0,0,.05);
	padding: 0 15px;
	position: fixed;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	overflow: hidden;
}
.product .bottom ul{
	width: 100%;
	min-height: 4rem;
	position: relative;
	overflow: hidden;
}
.product .bottom ul li{
	top: 0;
	padding: .743rem 0;
	position: absolute;
	left: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.product .bottom ul li.prev{
	top: -100%;
}
.product .bottom ul li.next{
	top: 100%;
}
.product .bottom .h5{
	color: #838383;
}
.product .bottom .btn{
	min-width: 7rem;
	height: 100%;
	font-size: 1.425rem;
	line-height: 1.95;
	color: #fff;
	background: #FF2359;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.product .bottom .btn.active{
	font-size: 1.625rem;
	background: #BF2B4F;
}
.product .bottom .btn.over{
	background: #666;
}
.product .new-bt{
	width: 100%;
	max-width: 640px;
	background: #fff;
	box-shadow: 0 -2px 5px rgba(0,0,0,.05);
	padding: 0 15px;
	position: fixed;
	left: 50%;
	bottom: 0;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	-ms-transition: all .7s;
	transition: all .7s;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	overflow: hidden;
	z-index: 600;
}
.product .new-bt.on{
	bottom: -4rem;
}
.product .new-bt .col-6{
	padding: 0;
}
.product .new-bt .btn{
	font-size: 1.14rem;
	font-weight: bold;
	border-radius: 0;
	padding: .85rem 1rem;
}
.product .new-bt .buy-btn{
	color: #fff !important;
	background: #7B4FE6;
	text-align: center;
	display: block;
}
.product .new-bt .buy-btn:not(.over){
	-webkit-animation-name: "buttonLight";
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes 'buttonLight' {
     from {
       background:#FC0;
       color:#fff;
     }
     25% {
       background: rgba(242, 21, 83,0.8);
    }
    50% {
      background: rgba(255, 204, 0,1);
    }
    75% {
      background: rgba(0, 132, 255,0.8);
    }
   to {
     background: rgba(248, 0, 76,0.9);
    }
}
.product .new-bt .buy-btn.over{
	background: #666;
}
.product .new-bt .to-top{
	color: #838383 !important;
	background: #fff;
	position: relative !important;
	left: 0;
	top: 0;
	opacity: 1 !important;
	display: block !important;
}
.product.pro-bt{
	padding-top: 0;
}

.order{
	border: 3px solid #7B4FE6;
	margin-bottom: 1rem;
}
.order>.head{
	background: #7B4FE6;
}
.order .head .h4{
	font-size: 1.15rem;
	font-weight: bold;
	color: #fff;
	padding: .5rem 1rem;
}
.order .sec01{
	background: #fff;
	padding: 1rem 0 0;
	/*margin-bottom: 1rem;*/
}
.order .sec01 .info{
	padding-left: 0;
}
.order .sec01 img{
	border: 1px solid #cfcfcf;
	background: #ededed;
}
.order .sec01 .h4{
	padding-left: 5rem;
	margin: 0;
	position: relative;
}
.order .sec01 .h4 label{
	margin-bottom: 0;
	position: absolute;
	left: 0;
	top: .1rem;
	z-index: 5;
}
.order .sec01 .h4 span{
	font-weight: bold;
	background: url(../images/icon-1.png) no-repeat left top .2rem;
	background-size: 1.2rem 1.2rem;
	padding-left: 1.5rem;
	display: block;
}
.order .sec01 .h5{
	color: #8F8F92;
}
.order .sec02{
	padding-bottom: 1rem;
}
.order .sec02 form .form-group{
	margin-top: .5rem;
	margin-bottom: 0;
	position: relative;
}
.order .sec02 .h6{
	font-size: .86rem;
	color: #8F8F92;
}
.order .sec02 .h6 span{
	color: #ff2359;
	margin-left: .5rem;
}
.order .sec02 .info{
	background: #fff;
}
.order .sec02 .info ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.order .sec02 .info ul li .btn{
	font-size: .86rem;
	border: 1px solid #bbb;
}
.order .sec02 .info ul li.active .btn{
	border-color: #FF2359;
}
.order .sec02 .info .number{
	margin: 1.5rem 0;
}
.order .sec02 .info .form-group label{
	margin-bottom: 0;
	margin-right: 2rem;
}
.order .sec02 .number .rt{
	border: 1px solid #bbb;
	display: inline-block;
}
.order .sec02 .number input{
	max-width: 3rem;
	height: calc(2rem + 2px);
	background: transparent;
	text-align: center;
	border: none;
	border-radius: 0;
	padding: .375rem;
	display: inline-block;
}
.order .sec02 .number .btn{
	height: 100%;
	font-size: 1.43rem;
	font-weight: bold;
	line-height: .8;
	border-radius: 0;
	vertical-align: top;
	padding: .25rem .75rem .61rem;
}
.order .sec02 .number .prev{
	border-right: 1px solid #bbb;
}
.order .sec02 .number .next{
	border-left: 1px solid #bbb;
}
.order .sec02 .price span{
	font-size: 1.43rem;
	font-weight: bold;
	color: #FF2359;
}
.order .sec02 .message{
	background: #fff;
	padding: 1.2rem 15px;
	margin: 0 -15px;
}
.order .sec02 .message .form-group{
	padding-left: 6rem;
	margin-top: 1rem;
}
.order .sec02 .message input:focus{
	border-color: #ff2359;
}
.order .sec02 .message input:focus + label{
	color: #ff2359;
}
.order .sec02 .message label{
	padding-top: .45rem;
	position: absolute;
	left: 0;
	top: 0;
	margin-bottom: 0;
	z-index: 5;
}
.order .sec02 .message .iphone{
	padding-left: 0;
}
.order .sec02 form .payment{
	margin-top: .5rem;
}
.order .sec02 form .payment .form-control{
	height: auto;
	border: none;
	padding-top: .9rem;
}
.order .sec02 form .payment label{
	padding-top: 1.2rem;
}
.order .sec02 form .payment div{
	padding: 0;
	margin: 0;
}
.order .sec02 form .payment img{
	max-width: 2.2rem;
	vertical-align: middle;
	margin-right: 0.5rem;
}
.order .sec02 form .payment span{
	vertical-align: middle;
}
.order .sec02 form .payment .tips{
	font-size: .857rem;
	color: #e4a061;
	background: #fdfdf1;
	border: 2px solid #f8f7f3;
	padding: .5rem;
	margin-top: 1rem;
}
.order .sec02 .submit .btn{
	width: 100%;
	font-size: 1.143rem;
	color: #fff;
	background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    border-color: #3e8f3e;
    background-color: #5cb85c\9;
	padding: .5rem .75rem;
	/*margin-top: 1rem;*/
}
.order .sec03 .h4{
	margin: .5rem 0;
}
.success .h2{
	font-weight: bold;
	background: url(../images/icon-2.png) no-repeat 1rem center;
	background-size: 2.8rem 2.8rem;
	border-bottom: .75rem solid #f2f2f2;
	padding: 2rem 0 2rem 5rem;
	margin: 0 -15px;
}
.success .message{
	margin-top: 2rem;
}
.success .message li{
	padding-left: 7rem;
	margin: 1rem 0;
	position: relative;
}
.success .message li cite{
	width: 5rem;
	color: #8f8f92;
	text-align: right;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}
.success .message li p{
	color: #ff2359;
}
.success .message li.oid p{
	color: #4A52E2;
}
.success .message li.phone p{
	color: #4A52E2;
	text-decoration: underline;
}
.success .btn{
	width: 92%;
	color: #fff;
	background: #FF2359;
	padding: .615rem .75rem;
	margin: 4rem auto;
	display: block;
}
.success .btn span{
	margin-left: .5rem;
}

@media (min-width: 768px) {
	.content{
		border: 1px solid #efefef;
	}
}

@media (max-width: 767px) {
	body,
	header,
	.product .bottom{
		max-width: 100%;
	}
}