.new-mod1 .new-list{
	margin-top: 1.25rem;
}
.new-mod1 .new-list>li{
	padding-bottom: 0;
	margin: 0 0 1rem;
	display: block;
}
.new-mod1 .new-list>li .info{
	padding-left: 4rem;
	position: relative;
}
.new-mod1 .new-list>li .date{
	font-size: 1.25rem;
	position: absolute;
	left: 0;
	top: -.15rem;
}
.new-mod1 .new-list>li .h4{
	font-weight: 600;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.new-mod1 .new-list>li .h4:hover>a{
	color: #7eb911;
}
.new-mod1 .new-list>li .h5{
	color: #999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.new-mod1 .new-list>li .btn{
	color: #999;
	position: absolute;
	left: .5rem;
	bottom: 1rem;
}
.new-mod1 .new-list>li:hover .btn{
	color: #7eb911;
}

@media (min-width:768px) {
	/**/
	.new-mod1 .new-list>li .info{
		padding-left: 5rem;
	}
}

@media (min-width:992px) {
	/**/
	.new-mod1 .new-list>li .text-right{
    display: block;
	}
}

@media (max-width:479px){
	/**/
	.new-mod1 .new-list{
		margin-top: .5rem;
	}
}