.about-mod3{
	padding: 1rem 0;
}

@media (min-width:768px) and (max-width:991px){
	/**/
	.about-mod3 .back .img{
		display: none;
	}
}

@media (min-width:992px) {
	/**/
	.about-mod3 h2,
	.about-mod3 .title{
		text-align: left;
	}
	.about-mod3 .container{
		max-width: 100%;
		padding: 0;
	}
	.about-mod3 .back{
		align-items: center;
		justify-content: flex-end;
	}
	.about-mod3 .back .img{
		order: 9;
	}
	.about-mod3 .back .info{
		max-width: 30rem;
	}
}

@media (min-width:1200px) {
	/**/
	.about-mod3 .back .info{
		max-width: 35rem;
	}
	.about-mod3 .back .info p{
		margin-bottom: .5rem;
	}
}

@media (min-width:1440px) {
	/**/
	.about-mod3 .back .info{
		max-width: 43.125rem;
		padding-right: 3rem;
	}
	.about-mod3 .back .info p{
		margin-bottom: 1rem;
	}
}

@media (min-width:1640px) {
	/**/
	.about-mod3 .back .img{
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.about-mod3 .back .info{
		max-width: 59.875rem;
		padding-right: 7rem;
	}
	.about-mod3 .back .info p{
		margin-bottom: 1.5rem;
	}
}