.history-mod2 .his-list .item{
	margin-bottom: 1rem;
}
.history-mod2 .his-list .img img{
	width: 100%;
}
.history-mod2 .his-list .h4{
	font-weight: 600;
	color: #7eb911;
}

@media (min-width:768px){
	/**/
	.history-mod2 .his-list .item:nth-child(even) .img{
		order: 9;
	}
	.history-mod2 .his-list .item:nth-child(even) .info{
		text-align: right;
	}
	.history-mod2 .his-list .item{
		margin-bottom: 2rem;
	}
	.history-mod2 .his-list .h4{
		font-size: 1.5rem;
	}
}

@media (min-width:1200px){
	/**/
	.history-mod2 .his-list .item{
		margin-bottom: 3rem;
	}
	.history-mod2 .his-list .h4{
		font-size: 1.875rem;
	}
}

