.idxPar-mod2{
	padding: .1rem 0 1rem;
}
.idxPar-mod2 .pagination-block>span{
	border-radius: 0;
}

@media (min-width:768px) {
	/**/
	.idxPar-mod2{
		padding: 1rem 0 3rem;
	}
}

@media (min-width:1200px) {
	/**/
	.idxPar-mod2{
		padding: 3rem 0 5rem;
	}
	.idxPar-mod2 h2,
	.idxPar-mod2 .title{
		margin-bottom: 3rem;
	}
}