.idxPdt-mod9{
	padding: .1rem 0 1rem;
}
.idxPdt-mod9 .scale-img{
	padding: 1rem;
}
.idxPdt-mod9 .scale-img img{
	border: 1px solid transparent;
}
.idxPdt-mod9 .h4{
	font-weight: 600;
	margin-top: 0;
}
.idxPdt-mod9 .swiper-slide:hover .scale-img img{
	border-color: #7eb911;
}
.idxPdt-mod9 .swiper-slide:hover .h4{
	color: #7eb911;
}

@media (min-width:768px) {
	/**/
	.idxPdt-mod9{
		padding: 1rem 0 3rem;
	}
	.idxPdt-mod9 .tab-list{
		flex-wrap: wrap;
	}
	.idxPdt-mod9 .tab-list>li>a{
		border-color: transparent;
	}
	.idxPdt-mod9 .tab-list>li:hover>a,
	.idxPdt-mod9 .tab-list>li.active>a{
		color: #7eb911 !important;
		background: transparent;
		border-color: #7eb911;
	}
	.idxPdt-mod9 .mySwiper{
		padding: 0 2rem;
	}
	.idxPdt-mod9 .pagination-inline a{
		font-size: 5rem;
		color: #7eb911;
		background: transparent;
		margin-top: -5rem;
	}
}

@media (min-width:1200px) {
	/**/
	.idxPdt-mod9{
		padding: 2rem 0 4rem;
	}
}
